/* Header */
header {
    width: 100%;
    min-height: 400px;
    padding-top: 3em;
}
#home header {
    background: no-repeat, lightgrey url(images/cliff_ocean.jpg);
    background-size: 1500px;
}
#activities header {
    background: no-repeat lightgrey url(./images/runfly.jpeg);
    background-size: 1500px;
}
#contact header {
    background: no-repeat lightgrey url(./images/cliff_rock.jpeg);
    background-size: 1500px;
}
.main-header {
    background-color: rgb(255, 255, 255, 0.8);
    width: 700px;
    margin: 2em auto 0 auto;
    min-height: 100px;
    height: 100px;
}
.main-header .logo img {
    width: 100px;
    height: 100px;
    margin: 0 2em 0 0;
    float: left;
}
/* Navigation */
.main-menu {
    margin-left: 227px;
    font-weight: 400;
}
.main-menu ul li {
    list-style-type: none;
    display: inline-block;
    float: left;
    padding-left: 25px;
    padding-right: 25px;
    border-left: 1px solid rgba(202, 204, 202, 0.6);
    line-height: 100px;
    text-transform: uppercase;
    font-size: 14px;
}
.main-menu ul li a {
    text-decoration: none;
    color: #888;
}
.main-menu ul li a:hover {
    color: #9ed034;
}
.main-menu ul li.active {
    background: #9ed034;
    border: none;
}
.main-menu ul li.active a {
    color: #fff;
}
/* Main */

/* Partners */
section {
    width: 100%;
    background-color: #4288c3;
}
section #partners {
    width: 1200px;
    padding: 2em 0 2em 0;
    margin: 0 auto;
    text-align: center;
}
section #partners .partner {
    display: inline-block;
    margin: 0 0.75em;
    padding: 1.3em 1.5em;
    background-color: #fff;
    border-radius: 50%;
}
section #partners .partner img {
    width: 90px;
    height: 90px;
}

/* Footer */
footer {
    width: 100%;
    height: 155px;
    padding-bottom: 1em;
    background-color: #ecfab8;
}
footer #nondisclaimer .copy {
    padding: 3.5em 3.5em 3.5em 13em;
    float: left;
    font-size: 0.9em;
}
footer #nondisclaimer .social {
    padding: 2.5em;
    margin-right: 9.25em;
    float: right;
}
footer #disclaimer {
    clear: both;
}
footer #disclaimer p {
    font-size: 0.85em;
    text-align: center;
}
footer #nondisclaimer .social .fa {
    padding: 15px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 0 4px;
    border-radius: 50%;
}
footer #nondisclaimer .social .fa:hover {
    opacity: 0.7;
}
footer #nondisclaimer .social .fa-facebook {
    background: #3b5998;
    color: white;
}
footer #nondisclaimer .social .fa-twitter {
    background: #55acee;
    color: white;
}
footer #nondisclaimer .social .fa-instagram {
    background: #125688;
    color: white;
}

/* Activities */
table {
    width: 1000px;
    margin: 4em auto 0 auto;
}
caption {
    background: #852b1b;
    height: 40px;
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 1em;
}
thead {
    background: #bde1ff;
}
tbody {
    background: #eeffe6;
    text-align: center;
}
th, td {
    width: 225px;
    height: 75px;
    vertical-align: middle;
    border: solid 1px #852b1b;
}
th:first-child {
    width: 125px;
    height: 50px;
    background: #4977d1;
    color: #fff;
}
td:first-child {
    font-weight: bold;
    background: #bde1ff;
}
form .button {
    width: 100px;
    height: 50px;
    color: lightgrey;
}
p#codes {
    background-color: #a19c9c;
    width: 5em;
    text-align: center;
}
form .button input {
    width: 8en;
    height: 2.5em;
    font-size: 1.2em;
    font-weight: bold;
    /* background-color: #4977d1; */
    color: #ffffff;
    border: none;
}
label {
    display: block;
    width: 300px;
    margin-top: 2px;
    margin-left: 2px;
    font-size: 18px;
}
div .textbox input {
    display: block;
    width: 300px;
    margin-top: 2px;
    margin-left: 2px;
    font-size: 18px;
}
th {
    background-color: #4977d1;
}
table.tableImages tbody img {
    width: 300px;
    height: 150px;
}

span#clock {
    font: Arial, Helvetica, sans-serif;
    color: #125688;
}

span {
    font: Arial, Helvetica, sans-serif;
    color: #3a3a3a;
}

#timeofday {
    text-align: center;
    background: linear-gradient(rgba(251, 215, 139, 1) 0%, rgba(119, 213, 245, 1) 100%);
}





